<!-- tootbar -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with face icon"
  >
    <mat-icon>face</mat-icon>
  </button>
  <span>{{ title | uppercase }}</span>
  <a mat-button [routerLink]="['friends']">Friends</a>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with account_circle icon"
    [routerLink]="['users']"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with login icon"
    [routerLink]="['users', 'login']"
  >
    <mat-icon>login</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with logout icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
